<h1 class="todo_list_title">Edit Task</h1>
<div class="forms">
  <%= form_for([@project, @task]) do |f| %>
  <%= f.text_field :content, placeholder: "Edit Task"%>
  <%= f.select :priority, Task::PRIORITIES %>
  <%= f.text_field :deadline, type: "date" %><br><br>
  <%= f.submit "Update task" %>
  <% end %>
</div>
<div class="links">
  <%= link_to 'Cancel', project_path(@project) %>
</div>